{% extends 'base.html' %}

{% block title %}To-Do List{% endblock %}

<title>บัตรรับประกันพระแท้ : ดีดีพระดอทคอม</title>
<meta property="og:title" content="บัตรรับประกันพระแท้ : ดีดีพระดอทคอม">
<meta property="og:description" content="รายชื่อพระเครื่องที่ได้ออกบัตรรับประกันพระแท้กับดีดีพระดอทคอม ท่านสามารถค้นหาบัตรรับประกันพระแท้ได้ที่นี่ หรือท่านสามารถตรวจสอบบัตรรับประกันพระแท้ด้วยการสแกน QR Code หลังบัตรรับประกันพระแท้">
<meta property="og:image" content="https://certificate.dd-pra.com/medias/img/logo600.png">
<meta property="og:url" content="https://certificate.dd-pra.com">
<meta name="twitter:card" content="summary_large_image">
<meta property="og:site_name" content="https://certificate.dd-pra.com">
<meta property="og:type" content="website" />
<meta name="twitter:image:alt" content="บัตรรับประกันพระแท้ ดีดีพระดอทคอม">
<link rel="icon" href="/favicon.ico">
<link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sticky-footer/">
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Bai+Jamjuree|Sarabun&display=swap" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet" />
<style>
    html{position:relative;min-height:100%}body{margin-bottom:60px}
    .footer{position:absolute;bottom:0;width:100%;height:60px;line-height:60px;background-color:#f5f5f5}
    .container{width:auto;max-width:1024px;padding:0 15px}
    .header-1{background:url('/medias/img/header.png') top center no-repeat;height:250px;}
    .header-1 div{max-width:1024px;margin:0 auto;background:url('/medias/img/logo.png') left no-repeat;height:250px;}
    .header-2{background: #221f20;padding:10px;color:#f5f5f5;}
    body{background:url('/medias/img/bg.png') center repeat-y;background-color:#523f0E;}
    .item{background: #221f20;padding:10px;max-width: 167px; width: 167px; max-height: 300px; text-align: center;color:#f5f5f5;margin-top:10px;border-radius: 5px;margin-right:5px;margin-bottom: 5px;}
    .item h3{font-size: 16px;font-family: 'Bai Jamjuree', sans-serif;margin-top:3px;}
    .item h4{font-size: 16px;font-family: 'Bai Jamjuree', sans-serif;color:#89b33d;white-space: nowrap; overflow: hidden;}
    .item h5{font-size: 13px;}
    .item h6{font-size: 16px;font-family: 'Bai Jamjuree', sans-serif;white-space: nowrap; overflow: hidden;}
    .btn-more-green {color: white;font-family: 'Sarabun', sans-serif;background-color: #407216;}
    .img-main{width:100%;border:solid 3px #f5f5f5;margin-top:10px;margin-bottom: 10px;border-radius: 5px;}
    .p-owner{width:100%;text-align: center;color:#ffffff;background-color: #221f20;padding:10px;font-size:24px;font-weight:700;font-family: 'Sarabun', sans-serif;}
    .p-id{width:100%;text-align: center;color:#ffffff;background-color: #403611;padding:10px;font-size:24px;font-weight:700;font-family: 'Sarabun', sans-serif;}
    .p-price{width:100%;text-align: center;color:#ffffff;background-color: #403611;padding:10px;font-size:24px;font-weight:700;font-family: 'Sarabun', sans-serif;}
    .backhome{padding:10px;text-align: center;color:#ffffff;}
    .backhome:hover{background-color:#403611;border-radius: 3px;color:#ffffff;text-decoration: none;}
    .certificate-name{color:#ffffff;font-size: 32px;font-weight: 400;line-height: 48px;font-family: 'Sarabun', sans-serif;}
    @media (min-width: 768px){
      .item{width: 167px;max-width:167px;min-width:167px;margin-right:10px;}
    }
    </style>
</head>
<body>
<header class="header-1">
<div></div>
</header>
<header class="header-2">
<div class="container">
<form action="/" method="GET" onsubmit="return validate();">
<div class="form-row">
<div class="col-md-5">
<label for="name">ชื่อพระ :</label>
</div>
<div class="col-md-5">
<label for="id">ไอดี :</label>
</div>
<div class="col-md-2">
</div>
</div>
<div class="form-row">
<div class="form-group col-md-5">
<input type="text" class="form-control" id="name" name="name" placeholder="ชื่อพระ" value="">
</div>
<div class="form-group col-md-5">
<input type="text" class="form-control" id="search_id" name="search_id" placeholder="ไอดี" value="">
</div>
<div class="form-group col-md-2">
<button type="submit" class="align-self-end btn btn btn-block btn-more-green">ค้นหาข้อมูล</button>
</div>
</div>
</form>
</div>
</header>
<main class="container">
<div class="d-flex align-content-stretch flex-wrap" style="min-height: 800px;">
<div class="item">
<a href="/certificate/5797656018288640" target="_blank">
<img src="https://lh3.googleusercontent.com/2VUXeaHQZno8GKKDl31mTpnBgFaFtXmM3uyy419_SBJ_nSE9S6tze6JmL1sg2qy13znqmaLNHnGg2UFBDgZf3sSatyThf7lx1zqwnehh8-k_=s200" alt="" style="width:120px" />
</a>
<h3>ID 0310-240565</h3>
<a href="/certificate/5797656018288640" target="_blank">
<h4>เหรียญโล่ห์พระพรหม</h4>
</a>
<h5>เจ้าของพระ</h5>
<h6>มังกรทอง</h6>
</div>
<div class="item">
<a href="/certificate/5931811280519168" target="_blank">
<img src="https://lh3.googleusercontent.com/Ha9-HRrFmzvOAM7fevIo6Pa7buRerNqSAKtc9ZPocBhFLEEXpyPGQeE_8lbIMj9o2DRMQd3OQYP-6JTxgzmjPdSVikOBpZaelUDGDxgpwjyx=s200" alt="" style="width:120px" />
</a>
<h3>ID 0309-240565</h3>
<a href="/certificate/5931811280519168" target="_blank">
<h4>เหรียญโล่ห์พระพรหม</h4>
</a>
<h5>เจ้าของพระ</h5>
<h6>มังกรทอง</h6>
</div>
<div class="item">
<a href="/certificate/5400276060078080" target="_blank">
<img src="https://lh3.googleusercontent.com/zighUHHjr7tJVbzxd8a6gNdBz_D1yTp_frCTf9rvzdGJu-zcCupyAetR_CNtK67Xr4AFdZWeLb5fNKFrrGT-AN5d_y3TdwM8CkdqgtAcm_0B=s200" alt="" style="width:120px" />
</a>
<h3>ID 0308-240565</h3>
<a href="/certificate/5400276060078080" target="_blank">
<h4>เหรียญข้าวหลามตัด</h4>
</a>
<h5>เจ้าของพระ</h5>
<h6>มังกรทอง</h6>
</div>
<div class="item">
<a href="/certificate/4730515022151680" target="_blank">
<img src="https://lh3.googleusercontent.com/k0-KsJknYxpTOQH7c9OI-6_cvmvh81CpkREGc0i6Zph_D_KGp6WlbLoPLV1yALjVrAZbFvMYxPEGFj7vgNYuQ-gGpv7Dr_I95hkRESIcHA_FoQ=s200" alt="" style="width:120px" />
</a>
<h3>ID 0669-240565</h3>
<a href="/certificate/4730515022151680" target="_blank">
<h4>พระรอด</h4>
</a>
<h5>เจ้าของพระ</h5>
<h6>นานา</h6>
</div>
<div class="item">
<a href="/certificate/6560102370770944" target="_blank">
<img src="https://lh3.googleusercontent.com/PQv4dqDLvJas5CZ2vGcpwqoUruAC8jV2AJXecJnLyNmcbxUZR-jrMLxdpLRXWn_5dmdq7qMbKh1_OYoo-EZve_pn1KcCUNIk2wblDFtzeSMG=s200" alt="" style="width:120px" />
</a>
<h3>ID 0307-240565</h3>
<a href="/certificate/6560102370770944" target="_blank">
<h4>เหรียญข้าวหลามตัด</h4>
</a>
<h5>เจ้าของพระ</h5>
<h6>มังกรทอง</h6>
</div>
<div class="item">
<a href="/certificate/4853316538335232" target="_blank">
<img src="https://lh3.googleusercontent.com/9ZnYJxaGZWAEAzlcTSWA0_voTXql73z9kwHYm1bPqCkXKOaSWfbBqVT0JBn7wwfAAeHLIJRGKyZy8Ni_2BLgpXCbsr2hMxIb3vaGagRP2zwC6Q=s200" alt="" style="width:120px" />
</a>
<h3>ID 0306-240565</h3>
<a href="/certificate/4853316538335232" target="_blank">
<h4>เหรียญข้าวหลามตัด</h4>
</a>
<h5>เจ้าของพระ</h5>
<h6>มังกรทอง</h6>
</div>
<div class="item">
<a href="/certificate/5770956924518400" target="_blank">
<img src="https://lh3.googleusercontent.com/ufv2ThkQk3r_Nx_lIgJw6tvG9dYkk5b8fjDn8UeuH_PhSdt1T-y4thz1FM97fDUegxW-KMzk09K4PBh4ye7xg4P8LeDDDmccRyREhKuHCdDo6Ik=s200" alt="" style="width:120px" />
</a>
<h3>ID 0305-240565</h3>
<a href="/certificate/5770956924518400" target="_blank">
<h4>เหรียญข้าวหลามตัด</h4>
</a>
<h5>เจ้าของพระ</h5>
<h6>มังกรทอง</h6>
</div>
<div class="item">
<a href="/certificate/4676769760149504" target="_blank">
<img src="https://lh3.googleusercontent.com/vvwiSeapG5HamDey7G2Xg5blHsT-fOk8Hk_49QAG6vin3AmLGh1k7gXojNIy3oj2HVHtcjnN__jZpNz57XqzqcQHUXJZjwiH3wasdo7sayT0Dg=s200" alt="" style="width:120px" />
</a>
<h3>ID 0304-240565</h3>
<a href="/certificate/4676769760149504" target="_blank">
<h4>เหรียญข้าวหลามตัด</h4>
</a>
<h5>เจ้าของพระ</h5>
<h6>มังกรทอง</h6>
</div>
<div class="item">
<a href="/certificate/5295282350718976" target="_blank">
<img src="https://lh3.googleusercontent.com/TDA63y-wFM6CaC0YSEd3kntclZpyOVwRy-fCQGT-jEByIiCh70fDARdsFWOX_hGQ5Mk3z3dk567QKrrwgESj449Z4-d17A9-aGosIfgyr94J=s200" alt="" style="width:120px" />
</a>
<h3>ID 0303-240565</h3>
<a href="/certificate/5295282350718976" target="_blank">
<h4>เหรียญข้าวหลามตัด</h4>
</a>
<h5>เจ้าของพระ</h5>
<h6>มังกรทอง</h6>
</div>
<div class="item">
<a href="/certificate/6003520054493184" target="_blank">
<img src="https://lh3.googleusercontent.com/sbwt7XsIEzltxeAuafdOaOdGSA8DRQ1ctRVpOUcQap32IkxVkGupcIK6VBz6LX4ygVNCzUUXA0f8U75I79unkBKCWdNcVNKNoTICOLaGoq-B5g=s200" alt="" style="width:120px" />
</a>
<h3>ID 0302-240565</h3>
<a href="/certificate/6003520054493184" target="_blank">
<h4>เหรียญข้าวหลามตัด</h4>
</a>
<h5>เจ้าของพระ</h5>
<h6>มังกรทอง</h6>
</div>
<div class="item">
<a href="/certificate/5057786194952192" target="_blank">
<img src="https://lh3.googleusercontent.com/Ig-HzUdDMtqt1RjYmQfG5Ts5yN6dXn8ZqrPHfz0t5tUN8ulUWt7Qm8bEwfqsdTkD2fBbeGZ0bJ_D-nz7EvwqhNqy3Ta3cjLbhVCNOKQmjasu7A=s200" alt="" style="width:120px" />
</a>
<h3>ID 0301-240565</h3>
<a href="/certificate/5057786194952192" target="_blank">
<h4>เหรียญข้าวหลามตัด</h4>
</a>
<h5>เจ้าของพระ</h5>
<h6>มังกรทอง</h6>
</div>
<div class="item">
<a href="/certificate/6506357108768768" target="_blank">
<img src="https://lh3.googleusercontent.com/k0-KsJknYxpTOQH7c9OI-6_cvmvh81CpkREGc0i6Zph_D_KGp6WlbLoPLV1yALjVrAZbFvMYxPEGFj7vgNYuQ-gGpv7Dr_I95hkRESIcHA_FoQ=s200" alt="" style="width:120px" />
</a>
<h3>ID 0668-240565</h3>
<a href="/certificate/6506357108768768" target="_blank">
<h4>พระรอด</h4>
</a>
<h5>เจ้าของพระ</h5>
<h6>นานา</h6>
</div>
<div class="item">
<a href="/certificate/5043896853725184" target="_blank">
<img src="https://lh3.googleusercontent.com/RK_aNmZ26xS-8ec4QXzV49bivEfy2GiMJRBLDUTb7g3aRgv6fTbuAPJLWYqBkEQ1RtSMf-emw186o4UMBvUejSaTzgMY4CxTQ5e6QFUyXOsx9E8=s200" alt="" style="width:120px" />
</a>
<h3>ID 0667-240565</h3>
<a href="/certificate/5043896853725184" target="_blank">
<h4>พระนางพญา</h4>
</a>
<h5>เจ้าของพระ</h5>
<h6>นานา</h6>
</div>
<div class="item">
<a href="/certificate/4845719533912064" target="_blank">
<img src="https://lh3.googleusercontent.com/u25OWDls-jTEkCAlu12BdNZXOXs2JGHLJQait2X4cwlJ9eczUmzoQEWl-3nyqmcxgTjrJL6fv8ETOeEVNIkITTNs6-uIQmHsnPLDZxWlusodIA=s200" alt="" style="width:120px" />
</a>
<h3>ID 0666-240565</h3>
<a href="/certificate/4845719533912064" target="_blank">
<h4>พระขุนแผนสะกดทัพ </h4>
</a>
<h5>เจ้าของพระ</h5>
<h6>นานา</h6>
</div>
<div class="item">
<a href="/certificate/5892151539924992" target="_blank">
<img src="https://lh3.googleusercontent.com/bt82IlcAvBVWEaNFW82FmHFcgGtFvqBaZhtJAsX5xKhaMV4UmY8OpAgeV05emicJP1dEzSPyjJmPPHFndUqHmo2GfA3PyxEnGsysT4KL1Z81=s200" alt="" style="width:120px" />
</a>
<h3>ID 0665-240565</h3>
<a href="/certificate/5892151539924992" target="_blank">
<h4>พระพิมพ์หลวงพ่อปาน</h4>
</a>
<h5>เจ้าของพระ</h5>
<h6>นานา</h6>
</div>
<div class="item">
<a href="/certificate/6465161078505472" target="_blank">
<img src="https://lh3.googleusercontent.com/5UdcS2YntW-T8wLRVaD1xVEWBwsmDPKALditCS1kvb2TDyB_vHyTpWuCi1KD-rujR4oDRki5JMzz9EsbVsCBsHVeQOlxojdY7P3HGnmp0iyTQw=s200" alt="" style="width:120px" />

</a>
<h3>ID 0664-240565</h3>
<a href="/certificate/6465161078505472" target="_blank">
<h4>พระพิมพ์หลวงพ่อปาน</h4>
</a>
<h5>เจ้าของพระ</h5>
<h6>นานา</h6>
</div>
<div class="item">
<a href="/certificate/4763427893411840" target="_blank">
<img src="https://lh3.googleusercontent.com/kVyXScLITscL1xgJsyhvcpJnfzViwgGtkXQ1PkaCnLrVY36qvcT2ma-22by67fLcG607jxMBVzulhxHpJs8AOvaMWNyNSj8tbBP_NSdG-Qs_=s200" alt="" style="width:120px" />
</a>
<h3>ID 0663-240565</h3>
<a href="/certificate/4763427893411840" target="_blank">
<h4>พระปิดตามหาเศรษฐี</h4>
</a>
<h5>เจ้าของพระ</h5>
<h6>นานา</h6>
</div>
<div class="item">
<a href="/certificate/6327349314322432" target="_blank">
<img src="https://lh3.googleusercontent.com/8HYrfBy0vwyXgBdIxVX4kXy2Kw4CHhUcgrmfhoLanrMHdTYrFfAzn2KQmFXsA5Unpe9i2c3FyOrE-Dzdy-ChWvkUumoZ4VpLznXsGMXhWcrfEQ=s200" alt="" style="width:120px" />
</a>
<h3>ID 0662-240565</h3>
<a href="/certificate/6327349314322432" target="_blank">
<h4>พระปิดตามหาเศรษฐี</h4>
</a>
<h5>เจ้าของพระ</h5>
<h6>นานา</h6>
</div>
<div class="item">
<a href="/certificate/5385010404130816" target="_blank">
<img src="https://lh3.googleusercontent.com/9XegyNYH-_R4EfhtTCu51DYVYSmPHyBXdM9xdR9OKVNV-uQQRs1yVRWCYMdyISaaJ16Df2lT-Ymaq8Wh43cb6NsOyzL9s3_SNV8tBaHes5Rsbxg=s200" alt="" style="width:120px" />
</a>
<h3>ID 0661-240565</h3>
<a href="/certificate/5385010404130816" target="_blank">
<h4>พระพิมพ์หลวงพ่อปานทรงนก</h4>
</a>
<h5>เจ้าของพระ</h5>
<h6>นานา</h6>
</div>
<div class="item">
<a href="/certificate/5858232304140288" target="_blank">
<img src="https://lh3.googleusercontent.com/z90vkxBIx6Y6UmvJ7Z-FI2Gh-aHbHxrYcfw0wVWgUn9ABn_nPwMZai0AVzeKs8ilcyJMHOl8bGiX2HndZGbyvVzJGvoZWzkACf3As-VwLOmGIg=s200" alt="" style="width:120px" />
</a>
<h3>ID 0660-240565</h3>
<a href="/certificate/5858232304140288" target="_blank">
<h4>พระกรุวัดใหม่ปากบาง</h4>
</a>
<h5>เจ้าของพระ</h5>
<h6>นานา</h6>
</div>
<div class="item">
<a href="/certificate/6451271737278464" target="_blank">
<img src="https://lh3.googleusercontent.com/7pUCg99uvNxxb9KOQnKpfvM3VVDxJ9nHT_cX1o9b8v1SYWyTHmkUp0myw-Pl2OJD-XsosNWQKBB6vgCyF1q1kPi1tEEer47bpT_8zLDfiYRQANs=s200" alt="" style="width:120px" />
</a>
<h3>ID 0659-240565</h3>
<a href="/certificate/6451271737278464" target="_blank">
<h4>พระปิดตา</h4>
</a>
<h5>เจ้าของพระ</h5>
<h6>นานา</h6>
</div>
<div class="item">
<a href="/certificate/5325371830435840" target="_blank">
<img src="https://lh3.googleusercontent.com/aCdXdpCTdSireuPeK7GdqFLP4GfE0QaZSnM82wkZR-BEYuZ_hljJytBJz9ksnV-Ed1wHejA8XEf7iuKBwd-YYtBS_37BhnA22fu1UV8QxS2P8g=s200" alt="" style="width:120px" />
</a>
<h3>ID 0658-240565</h3>
<a href="/certificate/5325371830435840" target="_blank">
<h4>พระผงสุพรรณ</h4>
</a>
<h5>เจ้าของพระ</h5>
<h6>นานา</h6>
</div>
<div class="item">
<a href="/certificate/4672484712382464" target="_blank">
<img src="https://lh3.googleusercontent.com/U9b9R_CSNjJb6iX73Hw2faafebk_-iV205VkKOAoUy8pvSLrVxrmNf3hvLg8ro20vh91xzZOBcQs0kZoRnXJWQ9XOZo9Zx4mdbFFDoayir31lg=s200" alt="" style="width:120px" />
</a>
<h3>ID 0657-240565</h3>
<a href="/certificate/4672484712382464" target="_blank">
<h4>พระนางพญา</h4>
</a>
<h5>เจ้าของพระ</h5>
<h6>นานา</h6>
</div>
<div class="item">
<a href="/certificate/4805911373676544" target="_blank">
<img src="https://lh3.googleusercontent.com/RqTq9NqsmlYpjHuGIibvz0AB0NIwggKKvqAeHL-TyPNlK1TGG_idJCgxCg-7FeXk_folOlFSZ6WOmIOBS4h_akJxkTP-OYYjRScY227waOCh=s200" alt="" style="width:120px" />
</a>
<h3>ID 0656-240565</h3>
<a href="/certificate/4805911373676544" target="_blank">
<h4>พระปิดตา</h4>
</a>
<h5>เจ้าของพระ</h5>
<h6>นานา</h6>
</div>
<div class="item">
<a href="/certificate/6507704038195200" target="_blank">
<img src="https://lh3.googleusercontent.com/KpbE6G4BrMLP-YDFrEAyqRMq0Bqa1uY-rafo8tnDAnDGcXeRyXbqoNK5dQtXgeJbquBs2NvMm5u7ISvXWmd9eUl5rKEcanl5ad72_vFQ1w5QbA=s200" alt="" style="width:120px" />
</a>
<h3>ID 0655-240565</h3>
<a href="/certificate/6507704038195200" target="_blank">
<h4>พระสมเด็จ</h4>
</a>
<h5>เจ้าของพระ</h5>
<h6>นานา</h6>
</div>
<div class="item">
<a href="/certificate/5334526674862080" target="_blank">
<img src="https://lh3.googleusercontent.com/6vfUuKhVZuLrN36AeBsCRTtpzWbcJP30LcTsfQBnuPn1YXRPWFcJDj88Wo50ZCcUh4YDdqLvdFORUm8d66qMu3t3G0C8lM10U2ClnhZKI852QGQ=s200" alt="" style="width:120px" />
</a>
<h3>ID 0654-240565</h3>
<a href="/certificate/5334526674862080" target="_blank">
<h4>พระปิดตา</h4>
</a>
<h5>เจ้าของพระ</h5>
<h6>นานา</h6>
</div>
<div class="item">
<a href="/certificate/6414066402721792" target="_blank">
<img src="https://lh3.googleusercontent.com/Iol9bnRns-GRLufn1-qqiyiC5zBAoURUV3K2j0BJFb2sfMAspBIXImderwq35X8dyDZDzDDdnbb0PzUKlauIGKWera8X1xy33OqfBT93v_UH=s200" alt="" style="width:120px" />
</a>
<h3>ID 0653-240565</h3>
<a href="/certificate/6414066402721792" target="_blank">
<h4>พระสมเด็จพุทธสังเวชนียสี่</h4>
</a>
<h5>เจ้าของพระ</h5>
<h6>นานา</h6>
</div>
<div class="item">
<a href="/certificate/4766251633082368" target="_blank">
<img src="https://lh3.googleusercontent.com/NhP8tY0ETVCbpmo2em-je_zeh0HXfukh36RL_MCOH67QWuKergx5vomtqhJt8kLOxz-w7zz6Yq5amxYQ2ljhOZ_CmBZKF4KST9NrZLkvgCsnrw=s200" alt="" style="width:120px" />
</a>
<h3>ID 0652-240565</h3>
<a href="/certificate/4766251633082368" target="_blank">
<h4>พระขุนแผนสะกดทัพ </h4>
</a>
<h5>เจ้าของพระ</h5>
<h6>นานา</h6>
</div>
<div class="item">
<a href="/certificate/4732332397297664" target="_blank">
<img src="https://lh3.googleusercontent.com/OZE72a5XPdl5spEzqtOflqmps7u-4MQT6JvKQ9DC4pTd9FogW_qS7OINXvfCG1FCefVfacCqQH1JiJyHLBtb96h000BFTZxXG0BomkO_aEuUUQ=s200" alt="" style="width:120px" />
</a>
<h3>ID 0651-240565</h3>
<a href="/certificate/4732332397297664" target="_blank">
<h4>พระปิดตาหลวงปู่บุญ</h4>
</a>
<h5>เจ้าของพระ</h5>
<h6>นานา</h6>
</div>
<div class="item">
<a href="/certificate/5288166495879168" target="_blank">
<img src="https://lh3.googleusercontent.com/FGBxByDLXXgLWAcTT0grKzj-kJEgDlJe8w1CqV4jFDideoaC_QGObUHUXRATAGUx9nK4Jk6iBKnmIFoW-6HQtn9ydzOnp1IDfq9_frKx5p-0UQ=s200" alt="" style="width:120px" />
</a>
<h3>ID 0650-240565</h3>
<a href="/certificate/5288166495879168" target="_blank">
<h4>พระปิดตาหลวงพ่อศิริพงษ์</h4>
</a>
<h5>เจ้าของพระ</h5>
<h6>นานา</h6>
</div>
</div>
<div class="col text-right pb-3">
<a class="btn btn-sm btn-light mr-1" href="/?name=&id=&page=1">หน้าต่อไป <i class="fa fa-forward"></i></a>
</div>